.hero {
    width: 100%;
    height: 400px;
    background-color: #5378F4;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: #ffffff;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 28px;
}
